<% // .game_controls %>
<%
var ctx = this.model.attributes;
%>
<% if (ctx.show === true) { %>
    <li><a class="game_hit btn btn-sm btn-success" href="#" role="button">Hit</a></li>
    <li><a class="game_stand btn btn-sm btn-danger" href="#" role="button">Stand</a></li>
    <li><a class="game_double btn btn-sm btn-warning" href="#" role="button">Double</a></li>
    <% // <li><a class="game_split btn btn-sm btn-info" href="#" role="button">Split</a></li> %>
    <% // <li><a class="game_surrender btn btn-sm btn-success" href="#" role="button">Surrender</a></li> %>
<% } %>