<% // The Game %>
<div class="page-header">
    <h1 style="float: left; margin-right: 20px;">Blackjack Table</h1>
    <div class="clearfix"></div>
    <a name="table1"></a>
</div>
<div class="well">
    <div class="dealer_wrap"></div>
    <div class="clearfix"></div>
    <div class="seats_wrap"></div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="controls"></div>
<div class="clearfix"></div>