<div class="page-header">
    <h1 style="float: left; margin-right: 20px;">Blackjack Table</h1>
    <div class="clearfix"></div>
    <a name="table1"></a>
</div>
<div class="well">
    <div class="dealer_wrap">
        <%=dealerView.render(ctx.dealer)%>
    </div>
    <div class="clearfix"></div>
    <div style="margin: 4px 4px;">
        <div class="left player_5_wrap">
            <%=playerView.render(ctx.players[5])%>
        </div>
        <div class="right player_0_wrap">
            <%=playerView.render(ctx.players[0])%>
        </div>
    </div>
    <div style="text-align: center;">
        <%=tableStatusView.render(ctx.table)%>
    </div>
    <div class="clearfix"></div>
    <div style="margin: 4px 72px;">
        <div class="left player_4_wrap">
            <%=playerView.render(ctx.players[4])%>
        </div>
        <div class="right player_1_wrap">
            <%=playerView.render(ctx.players[1])%>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="margin: 4px 136px;">
        <div class="left player_3_wrap">
            <%=playerView.render(ctx.players[3])%>
        </div>
        <div class="right player_2_wrap">
            <%=playerView.render(ctx.players[2])%>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="controls">
    <!-- Debug Stuff -->
    <%=debugControlsView.render()%>
    <!-- Table Controls Section -->
    <%=tableControlsView.render()%>
    <!-- Player Status View -->
    <%=playerStatusView.render(ctx.current_player)%>
    <!-- Wager Controls -->
    <%=wagerControlsView.render(ctx.current_player.wager)%>
    <!-- Game Controls -->
    <%=gameControlsView.render(ctx)%>
</div>
<div class="clearfix"></div>