<% // The Game %>
<div class="page-header">
    <h1 style="float: left; margin-right: 20px;">Blackjack Table</h1>
    <div class="clearfix"></div>
    <a name="table1"></a>
</div>
<div class="well">
    <div class="dealer_wrap"></div>
    <div class="clearfix"></div>

    <div style="margin: 4px 4px;">
        <div class="pull-left player_5_wrap"></div>
        <div class="pull-right player_0_wrap"></div>
    </div>
    <div class="table_status_wrap" style="text-align: center;"></div>
    <div class="clearfix"></div> 
    <div style="margin: 4px 72px;">
        <div class="pull-left player_4_wrap"></div>
        <div class="pull-right player_1_wrap"></div>
    </div>
    <div class="clearfix"></div>
    <div style="margin: 4px 136px;">
        <div class="pull-left player_3_wrap"></div>
        <div class="pull-right player_2_wrap"></div>
    </div>
    <div class="clearfix"></div>
    
</div>
<div class="clearfix"></div>
<div class="controls"></div>
<div class="clearfix"></div>