<% //
%>
<div style="margin: 4px 4px;">
    <div class="pull-left player_wrap player_5"></div>
    <div class="pull-right player_wrap player_0"></div>
</div>
<div class="table_status_wrap" style="text-align: center;"></div>
<div class="clearfix"></div> 
<div style="margin: 4px 72px;">
    <div class="pull-left player_wrap player_4"></div>
    <div class="pull-right player_wrap player_1"></div>
</div>
<div class="clearfix"></div>
<div style="margin: 4px 136px;">
    <div class="pull-left player_wrap player_3"></div>
    <div class="pull-right player_wrap player_2"></div>
</div>
<div class="clearfix"></div>