<% // .player
var ctx = this.model.attributes;
%>
<% if (this.model.id > 0) { %>
    <div><strong><%- this.model.get("name") %></strong></div>
    <div>Wager:&nbsp;<span><%= ctx.wager %></span></div>
<% } else { %>
    <span>Empty</span>
<% } %>