<% // .debug_controls %>
<div class="debug_controls">
<% if (ctx.paused === true) { %>
    <a class="debug_start btn btn-sm btn-success" href="#" role="button">Start</a>
<% } else { %>
    <a class="debug_pause btn btn-sm btn-danger" href="#" role="button">Pause</a>
<% } %>
</div>