<div class="table_controls" style="display: none; float: left; margin-right: 4px;">
    <a class="table_sit btn btn-sm btn-primary" href="#" role="button">Sit</a>
    <a class="table_leave btn btn-sm btn-warning" href="#" role="button">Leave</a>
</div>