<% // .table %>
<% if (ctx.in_game !== true) { %>
    <a class="table_sit btn btn-sm btn-primary" href="#" role="button">Sit</a>
<% } else { %>
    <a class="table_leave btn btn-sm btn-warning" href="#" role="button">Leave</a>
<% } %>