<ul class="wager_controls" style="float: left;">
    <li><h4>Wagers</h4></li>
    <li>Current:&nbsp;<%=ctx.wager.amount%></li>
    <li><a class="wager_1 btn btn-sm btn-default" href="#" role="button">$1</a></li>
    <li><a class="wager_10 btn btn-sm btn-default" href="#" role="button">$10</a></li>
    <li><a class="wager_100 btn btn-sm btn-default" href="#" role="button">$100</a></li>
    <li><a class="wager_1000 btn btn-sm btn-default" href="#" role="button">$1000</a></li>
    <li><a class="wager_reset btn btn-sm btn-default" href="#" role="button">Clear</a></li>
</ul>