<ul class="game_controls" style="border-left: 1px solid black; float: left;">
    <li><a class="player_hit btn btn-sm btn-success" href="#" role="button">Hit</a></li>
    <li><a class="player_double btn btn-sm btn-warning" href="#" role="button">Double</a></li>
    <li><a class="player_stand btn btn-sm btn-primary" href="#" role="button">Stand</a></li>
</ul>